* {
  font-family: 'Kufam', cursive;
  margin: 0 auto;
  line-height: 1.5em;
}

body {
  background-color: rgb(254, 255, 255);
}

header, main {
  width: 100vw;
}

header {
  background-image: url(../images/footprint.png);
  background-blend-mode: soft-light;
  background-color: rgb(215, 241, 226);
  text-align: center;
  padding: 30px 30px;
}

header p {
  font-style: italic;
}

main {
  padding: 30px 30px;
  text-align: center;
}

main * {
  max-width: 95%;
}

#btn-more {
  color: #fff;
  font-weight: 500;
  border: none;
  background-color: rgb(52, 187, 124);
  padding: 12px 0px;
  border-radius: 20px;
  margin: 0 auto 20px;
  transition: all .2s ease-in;
  cursor: pointer;
}

#btn-more {
  opacity: 70%;
}

select {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ada;
  margin-bottom: 20px;
}

label {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(52, 187, 124);
  display: block;
  margin-bottom: 5px;
}

#imgDog {
  border-radius: 10px;
}

@media (min-width: 500px) {
  label {
    display: inline;
    margin-right: 10px;
  }

  main * {
    max-width: 400px;
  }
}

@media (min-width: 768px) {
  .card, 
  #imgDog {
    max-width: 650px;
  }
}

@media (min-width: 1024px) {
  .card, 
  #imgDog {
    max-width: 800px;
  }
}





